<StackLayout [height]="heightDIPs" [width]="widthDIPs">
    <StackLayout class="login-container" horizontalAlignment="center">
        <GridLayout columns="225, *" 
                    rows="125, 75, 75, 75, 150, *" 
                    width="auto" +
                    height="auto">
            
            <StackLayout row="0" col="0" class="logo" horizontalAlignment="center">
                <img src="res://tplogo" width="75" height="75"/>
            </StackLayout> 
            
            <StackLayout row="2" col="0" class="credentials" horizontalAlignment="center">
                <TextField #usernameTxt [(ngModel)]="_userFactory.email"
                            hint="email address"></TextField>
                <TextField #passwordTxt [(ngModel)]="_userFactory.password"
                            secure="true"
                            hint="password"></TextField>
            </StackLayout>
            
            <StackLayout row="3" col="0" horizontalAlignment="center">
                <!--<StackLayout row="0" col="0" class="logo" horizontalAlignment="center">
                    <img src="res://fbicon"/>
                    <img src="res://googleplusicon"/>
                </StackLayout> -->

                <GridLayout columns="50, 65, 65, 40, *" 
                    rows="120, 120, *" 
                    width="auto" 
                    height="auto"
                    style="border-width:0;border-color: aqua;">
        
                    <StackLayout row="0" col="1" style="border-width:0;border-color: aqua;">
                        <img id="fb" src="res://fb" width="55" height="55" (tap)="socialAuth('fb')" class="social"/>
                    </StackLayout>
                    <StackLayout row="0" col="2" style="border-width:0;border-color: aqua;">
                        <img id="google" src="res://google" width="55" height="55" (tap)="socialAuth('google')" class="social"/>
                    </StackLayout>

                </GridLayout>

                <ActivityIndicator
                    [busy]="isAuthenticating"
                     class="auth-loading"></ActivityIndicator>

            </StackLayout>
            
            <StackLayout row="4" col="0" horizontalAlignment="center">
                <WrapLayout>
                    <StackLayout class="signup">
                        <button text="log in" class="login-btn" (tap)="login()"></button>
                        <button text="sign up" class="signup-btn" (tap)="signup()"></button>
                    </StackLayout>
                </WrapLayout>
            </StackLayout>
            
        </GridLayout>
    </StackLayout>
</StackLayout>